* {
    box-sizing: content-box;
    font-size: 13px;
    font-family: "Noto Sans Mono", monospace;
}

body {
    max-height: 600px;
    max-width: 800px;
    height: 300px;
    width:  475px;
    margin: 15px 25px;
}
